
body{
			font-family: microsoft jhengHei;
			background-image: url('images/bg.jpg');
		}
		div{
			width: 300px;
			text-align: center;
			height: 100px;
			line-height: 100px;
			background-color:#6c3;
			color:#fff;
			margin: 50px;
			font-size: 25px;
		}
		p{
			float: right;
			width:50%;
			height: auto;
			margin-right: 15%;
			margin-top: -500px;
			line-height: 26px;
			letter-spacing: 1px;
			font-family: Arial;
		}